body {
    background-color: mediumpurple;
}

h1 {
    color: yellow;
    transition: 0.5s;
    font-family: 'Courier New', Courier, monospace
}

h1:hover {
    color: gold;
    transition: 0.5s;
}

label {
    color: rebeccapurple;
}

#bigbigContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

#container {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    margin: 10px auto;
    border: 6px double darkviolet;
}

#imgcontainer {
    width: auto;
    height: fit-content;
    display: flex;
    justify-content: center;
}

img {
    height: 500px;
}

.cell {
    border: 1px solid gray;
}

input[type="range"] {
    margin: 10px 10px 0px;
    width: 350px;
    -webkit-appearance: none;
    background-color: blueviolet;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}

input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 3px magenta;
    transition: 0.2s;
}

button {
    padding: 10px 20px;
    background-color: darkgray;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

#btn {
    background-color: yellow;
    color: black;
}

#btn:active {
    background-color: gold;
}

button:hover {
    background-color: gray;
    transition: 0.2s;
}

select {
    padding: 12.5px;
    background-color: indigo;
    color: yellow;
    transition: 0.5s;
}

select:hover {
    background-color: darkorchid;
    transition: 0.5s;
}

#containertop {
    display: flex;
    justify-content: end;
    width: 600px;
    margin: 10px auto;
}

p {
    margin-right: 10px;
}

#containertop #colourbutton {
    margin-right: 10px;
    padding: 12.5px 40px;
    background-image: url(images/rainbow.jpg);
    background-size: cover;
}

#containertop #darkbutton {
    margin-right: 215px;
    padding: 12.5px 40px;
    background-color: lightslategray;
}