#container {
    border: 5px solid blue;
    box-sizing: border-box;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

div {
    box-sizing: border-box;
    border: 5px solid darkmagenta;
    height: 110px;
    width: 110px;
}

input {
    margin: 10px 0px;
}

button {
    margin: 10px 0px;
}