body {
    background-color:whitesmoke;
}

h1 {
    color:darkslateblue;
    transition: 0.5s;
}

h1:hover {
    color: crimson;
    transition: 0.5s;
}

label {
    color: darkslateblue;
}

#bigbigContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

#container {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    margin: 10px auto;
}

.cell {
    border: 1px solid gray;
}

input[type="range"] {
    margin: 10px 10px 0px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background-color: darkgray;
    color: white;
    transition: 0.2s;
}

button:hover {
    background-color: gray;
    transition: 0.2s;
}

select {
    padding: 12.5px;
}

#containertop {
    border: 2px solid red;
    display: flex;
    justify-content: end;
    width: 600px;
    margin: 10px auto;
}

#containertop button {
    margin-right: 10px;
    background-image: url(images/rainbow.jpg);
    background-size: cover;
}

/* #containertop button:active {
    border: 2px solid deepskyblue;
} */